@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


:root {

  --font-avenir-medium: 'Avenir Medium';
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-avenir-medium), Arial, Helvetica, sans-serif;
}
h1{
  font-family: var(--font-avenir-heavy), Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-list {
  margin: 0;
  padding: 0;
}

.slick-slide {
  margin: 0;
}
.slick-slide img{
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.custom-width{
  width: 100% !important;
}

.slick-side{
  width: 100% !important;
}
.slick-arrow{
  top: 50%;
}
.slick-next{
  right: 2% !important;

}
.slick-prev:before, .slick-next:before {
  display: none;
}
.slick-prev {
  left: 2% !important;
  z-index: 40;
}
.slick-list{
  padding: 0 !important;
  width:100% !important
}